/*
 * Globals
 */
//color
@grey: #E0E0E0;
@black: #000000;
@primary: #0EBFE9;
@white: #FFFFFF;

/* Links */
a,
a:focus,
a:hover {
  color: @primary;
}

.hidden-container {
  display: none;
}

/*==============================
=            HEADER            =
==============================*/
.navbar {
  border-bottom: 1px solid @grey;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  color: @black;
}

.dropdown-toggle {
  color: @white;
  background-color: @primary;
  border: none;
  border-radius: 0px;
  &:hover, &:focus {
    color: @white;
    background-color: @primary !important;
  }
}

.icon-bar {
  background-color: @primary;
}

.brand-title {
  text-align: center;
}

/*==============================
=            FlUX-APP          =
==============================*/

.content {
  margin-top: -40px;
}

/*===============================
=            FLYLEAF            =
===============================*/

.flux-agendaDetailsFlyleaf-container {
  h1 {
    text-align: center;
  }
}

/*==============================
=            AGENDA            =
==============================*/

#timer {
  h3 {
    color: white;
  }
}

.flux-agendaDetails-description p{
  font-size: 2.0em;
}
.flux-agenda-list {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    .agenda-item {
      padding: 20px;
      color: grey;
      h3 {
        white-space: pre-wrap;      /* CSS3 */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -pre-wrap;     /* Opera <7 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        word-wrap: break-word;      /* IE */
      }
    }
    .agenda-item.level-0 {
      margin-left: 30px;
      h3 {
        color: black;
        font-size: 24px;
      }
    }
    .agenda-item.level-1 {
      margin-left: 20px;
      h3 {
        font-size: 20px;
      }
    }
    .agenda-item.level-2 {
      margin-left: 10px;
      h3 {
        font-size: 18px;
      }
    }
    .agenda-item.level-3 {
      margin-left: 0px;
      h3 {
        font-size: 18px;
      }
    }
    .agenda-item:hover {
      color: black;
    }
  }
}

.flux-agendaDetails-upload {
  input {
    display: inline-block;
  }
}

/*==============================
=            MEMBER            =
==============================*/
.flux-memberlist-list {
  ul {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      display: inline;
      padding: 5px 10px;
      p {
        display: block;
      }
    }
  }
}

/*====================================
=            TodoList                 =
====================================*/
.todo-title {
  display: inline;
  font-weight: bold;
  padding-right: 10px;
}

.todo-author {
  font-weight: 100;
  padding-right: 10px;
}
.list-todo {
  list-style-type: none;
  font-size: 2.0em;
  .todo-item {
    &:hover {
      background-color: #f0f2f6; 
    }
    .todo-control {
      float: right;
    }
  }
}

/*====================================
=            TodoListForm            =
====================================*/

.assign-input-container {
  position: relative;
}

#assign-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background: transparent;

}

#assign-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}

/*=============================
=            Login            =
=============================*/

.login-container {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  h2 {
    text-align: center;
  }
}
.form-checkbox {
  span {
    padding-left: 20px;
  }
}


/*=====  End of Login  ======*/

/*=============================
=            Timer            =
=============================*/
#timer {
  font-size:400%;
  text-align: right;
}
/*=====  End of Timer  ======*/


/*=============================
=            Logo             =
=============================*/
.brand-title {
  text-align: left;
  padding-left: 10px;
}
/*=====  End of Logo   ======*/

/*=====================================
=            Meetingseries            =
=====================================*/

/*----------  Topics  ----------*/

#topics-panel {

}

/*----------  Modal  ----------*/

#selected-topics, #all-topics {
  
}

/*=====  End of Meetingseries  ======*/

