/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}




/*==============================
=            Agenda            =
==============================*/

.flux-agenda-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.flux-agenda-list ul .agenda-item {
  padding: 20px;
}

.flux-agenda-list ul .agenda-item.active h3 {
  color: grey;
}

/*=====  End of Agenda  ======*/

/*====================================
=            TodoListForm            =
====================================*/

.assign-input-container {
    position: relative;
}
#assign-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background: transparent;
    
}
#assign-autocomplete{
    position: absolute;    
    top: 0;
    left: 0; 
    background: transparent;
    z-index: 10;
}

/*=====  End of TodoListForm  ======*/


/*=============================
=            Login            =
=============================*/

.login-container {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
}

.login-container h2 {
  text-align: center;
}

/*=====  End of Login  ======*/

