<div id="container" >



  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <p class="pad-btm">Geben Sie Ihr Admin Passwort ein</p>
        <form action="/login" method="post">
          <div>
            <% if(typeof redirect !== "undefined"){ %>
            <input type="text" name="redirect" class="form-control" value="<%= redirect %>" style="display: none;">
            <% } %>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
              <% if(typeof email !== "undefined"){ %>
              <input name="email" type="email" class="form-control" value=<%= email %> readonly>
              <% } else { %>
              <input name="email" type="email" class="form-control">
              <% } %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></div>
              <input name="password" type="password" class="form-control" placeholder="Passwort">
            </div>
          </div>

          <button class="btn btn-success btn-block" type="submit">
            Anmelden
          </button>

        </form>
      </div>
    </div>
    <div class="pad-ver text-center">
      <a href="/login/help" class="btn-link mar-rgt">Wie funktioniert der Log-in?</a>
      <a href="/signup" class="btn-link mar-lft">Erstelle einen neuen Account</a>
    </div>
  </div>
</div>
