<div id="container" class="cls-container overlay">

  <div class="cls-header cls-header-lg">
    <div class="cls-brand">
      <a class="box-inline" href="/">
        <span class="brand-title">Better <span class="text-thin">Meetings</span></span>
      </a>
    </div>
  </div>

  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <p class="pad-btm">Hilfe zum Log-In</p>
        TODO: Hier kommt noch iwas hin!
      </div>
    </div>
    <div class="pad-ver">
      <a href="/signup" class="btn-link mar-rgt">Erstelle einen neuen Akkount</a>
      <a href="/login" class="btn-link mar-lft">Melde dich an</a>
    </div>
  </div>
</div>
