<div id="container" class="cls-container overlay">

  <div class="cls-header cls-header-lg">
    <div class="cls-brand">
      <a class="box-inline" href="/">
        <span class="brand-title">Better <span class="text-thin">Meetings</span></span>
      </a>
    </div>
  </div>

  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <p class="pad-btm">Melde dich mit deinem Akkount an</p>
        <form action="/login" method="post">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
              <input name="email" type="email" class="form-control" placeholder="E-Mail Adresse">
            </div>
          </div>

          <button class="btn btn-success btn-block" type="submit">
            Anmelden
          </button>
        </form>
      </div>
    </div>
    <div class="pad-ver">
      <a href="/login/help" class="btn-link mar-rgt">Wie funktioniert der Log-in?</a>
      <a href="/signup" class="btn-link mar-lft">Erstelle einen neuen Akkount</a>
    </div>
  </div>
</div>
