{
  "extends": [
    "airbnb/legacy"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "meeting": 1,
    "meetingseries": 1,
    "person": 1,
    "agendaitem": 1,
    "todoitem": 1
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [
      2,
      "never"
    ],
    // Code style
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ]
  }
}
