<div id="container" class="cls-container overlay">

  <!-- HEADER -->
  <!--===================================================-->
  <div class="cls-header">
    <div class="cls-brand">
      <a class="box-inline" href="/">
        <!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
        <span class="brand-title">Better <span class="text-thin">Meetings</span></span>
      </a>
    </div>
  </div>

  <!-- CONTENT -->
  <!--===================================================-->
  <div class="cls-content">
    <h1 class="error-code text-success">403</h1>
    <p><a class="h4 text-thin pad-btm mar-btm">
      <i class="fa fa-exclamation-circle fa-fw"></i>
      Du hast auf diesen Bereich der Seite keinen Zugriff.
      </a></p>
    <br>
    <br>
    <p><a class="h5 text-thin pad-btm mar-btm">
      Es ist möglich das du auf ein Meeting zugreifen wolltest für das du kein Admin bist.
      </a></p>
    <div class="pad-top"><a class="btn-link" href="/">Zurück zum Dashboard</a></div>
  </div>

</div>
