<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Better Meetings Projektseite</h1>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<h3>Jetzt geht's los</h3>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<h3>Team Links</h3>
    	<ul>
    		<li>
    			<a href="https://github.com/openHPI/better_meetings/">Git Repo</a>
    		</li>
    		<li>
    			<a href="https://www.lucidchart.com/documents/edit/5ecb35d6-a0fa-4660-93b7-442d5aa6ea28?shared=true&">Klassendiagramm</a>
    		</li>
    	</ul>
    	<h3>Wireframes</h3>
    	<ul>
    		<li>
    			<a href="https://www.lucidchart.com/invitations/accept/eb577c82-8ea5-47f3-8117-477a85d4f12a">Meeting Show</a>
    		</li>
    	</ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<h3>Doku Links</h3>
    	<ul>
    		<li>
    			<a href="http://sailsjs.org/documentation/concepts/">SAILS JS Concepts</a>
    		</li>
    		<li>
    			<a href="https://www.smashingmagazine.com/2015/11/sailing-sails-js-mvc-style-framework-node-js/">Introduction on Smashing Magazine</a>
    		</li>
            <li>
                <a href="https://github.com/balderdashy/waterline-docs/blob/master/models/associations/associations.md">
                    How to do Model Associations in Waterline Sails Models
                </a>
            </li>
    	</ul>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
    login modal
  </button>
</div>