<div id="page-title">
               <h1>Meeting Title</h1>
            </div>

            <div id="page-content">
               <div class="row">
                  <div class="col-lg-8">

                  </div>
                  <div class="col-lg-4">
                     <!--List Todo-->
                     <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                     <div class="panel panel-secondary panel-colorful">
                         <div class="panel-heading">
                             <div class="panel-control">
                                 <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">FOR THIS TOPIC</a>
                                    </li>
                                    <li><a data-toggle="tab" href="#demo-tabs-box-2">IN GENERAL</a>
                                    </li>
                                 </ul>
                             </div>
                             <h3 class="panel-title">TODOS</h3>
                         </div>
                         <div class="panel-body">
                           <div class="tab-content">
                              <div id="demo-tabs-box-1" class="tab-pane fade in active">
                                 <div class="pad-ver">
                                     <ul class="list-group bg-trans list-todo mar-no">
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Find an idea.</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Do some work</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Read the book</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Upgrade server</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Read the book</span>
                                             </label>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="input-group pad-all">
                                     <input type="text" class="form-control" placeholder="New task" autocomplete="off">
                                     <span class="input-group-btn">
                                         <button type="button" class="btn btn-dark"><i class="fa fa-plus"></i></button>
                                     </span>
                                 </div>
                              </div>
                              <div id="demo-tabs-box-2" class="tab-pane fade">
                                 <div class="pad-ver">
                                     <ul class="list-group bg-trans list-todo mar-no">
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Find an idea.</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Do some work</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Read the book</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Upgrade server</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon active">
                                                 <input type="checkbox" checked>
                                                 <span>Redesign my logo</span>
                                             </label>
                                         </li>
                                         <li class="list-group-item">
                                             <label class="form-checkbox form-icon">
                                                 <input type="checkbox">
                                                 <span>Read the book</span>
                                             </label>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="input-group pad-all">
                                     <input type="text" class="form-control" placeholder="New task" autocomplete="off">
                                     <span class="input-group-btn">
                                         <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                     </span>
                                 </div>
                              </div>
                           </div>

                     </div>
                     <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                     <!--End todo list-->
                  </div>
               </div>

            <div id="flux-meetingApp"></div>
            <!--ASIDE-->
            <!--===================================================-->
            <aside id="aside-container">
               <div id="aside">
                  <div class="nano">
                     <div class="nano-content">


                              <!--Family-->

                              <div class="list-group bg-trans">
                                 <a href="#" class="list-group-item">
                                    <div class="media-left">
                                       <img class="img-circle img-xs" src="images/av2.png" alt="Profile Picture">
                                    </div>
                                    <div class="media-body">
                                       <div class="text-lg">Lando Löper</div>
                                       <span class="text-muted">test@hpi.de</span>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item">
                                    <div class="media-left">
                                       <img class="img-circle img-xs" src="images/av4.png" alt="Profile Picture">
                                    </div>
                                    <div class="media-body">
                                       <div class="text-lg">Ajay Kesar</div>
                                       <span class="text-muted">test@hpi.de</span>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item">
                                    <div class="media-left">
                                       <img class="img-circle img-xs" src="images/av3.png" alt="Profile Picture">
                                    </div>
                                    <div class="media-body">
                                       <div class="text-lg">Benjamin Feldmann</div>
                                       <span class="text-muted">test@hpi.de</span>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item">
                                    <div class="media-left">
                                       <img class="img-circle img-xs" src="images/av4.png" alt="Profile Picture">
                                    </div>
                                    <div class="media-body">
                                       <div class="text-lg">Timm Goldmann</div>
                                       <span class="text-muted">test@hpi.de</span>
                                    </div>
                                 </a>
                              </div>



                        </div>
                     </div>
                  </div>
               </div>
            </aside>
            <!--===================================================-->
            <!--END ASIDE-->