<div class="boxed">
  <div id="content-container">
    <div id="page-title">
      <h1 class="page-header text-overflow">My todos</h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="active">Todo items</li>
    </ol>

    <div id="page-content">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Todos</h3>
            </div>
            <div class="panel-body">
              <% _.each(todoitems, function(todo) { %>
              <div class="col-md-8">
                <h4><%= todo.title %></h4>
                <% if (todo.description) { %>
                <p><%= todo.description %></p>
                <% } %>
              </div>
              <div class="col-md-4"></div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>